@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,900&display=swap');

@import "tailwindcss";

*
{
     font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #2563EB;
    --color-primary-dull: #1F58D8;
    --color-light: #F1F5F9;
    --color-borderColor: #c4c7d2

}